<h1>Add a New Director</h1>

<form action="/create_director">
    <div>
        <label for="director_name_input">
        Name
            
        </label>
            <input id="director_name_input" type="text", name="director_name">
    </div>
    
    <div>
        <label for="director_bio_input">
        Bio    
            
        </label>
            <div class="col-sm-10">
              <textarea id="director_bio_input" name="director_bio" placeholder="Bio" class="form-control" rows="3"></textarea>
            </div>
    </div>
    
    <div>
        <label for="director_dob_input">
        Dob
            
        </label>
            <input id="director_dob_input" type="text", name="director_dob">
    </div>
    
    <div>
        <label for="director_image_input">
        Image url
            
        </label>
            <input id="director_image_input" type="text", name="director_image">
    </div>
    
  <button class="btn btn-primary">
      Create director
  </button>
  
</form>
